h1 List of available services

table
  thead
    tr
      th Service
      th Description

  tbody
    each service in services
      tr(id='service-${service.name}', data-service=JSON.stringify(service.properties))
        td 
          a(href='/services/#{service.name}') #{service.properties['provides'] || service.name}
        td= service.properties['short-description'] || service.properties['description']
          
p Total #{services.length} services